/* Basics-------------------------------------------------------*/

    html {
        font-family: 'Avenir', 'Raleway', 'Lato', sans-serif;
        font-size:14px;
    }

    * {
        box-sizing: border-box;
        /*border: 1px solid red;*/
    }

    .clearfix {
        overflow: auto;
    }

/* Color Roots & Shades-----------------------------------------*/

    :root {
        --darken-1: rgba(0, 0, 0, .0625);
        --darken-2: rgba(0, 0, 0, .125);
        --darken-3: rgba(0, 0, 0, .25);
        --darken-4: rgba(0, 0, 0, .5);
        --lighten-1: rgba(255, 255, 255, .0625);
        --lighten-2: rgba(255, 255, 255, .125);
        --lighten-3: rgba(255, 255, 255, .25);
        --lighten-4: rgba(255, 255, 255, .5);
    }

    :root {
        --color-50: #E3F2FD;
        --color-100: #BBDEFB;
        --color-200: #90CAF9;
        --color-300: #64B5F6;
        --color-400: #42A5F5;
        --color-500: #2196F3;
        --color-600: #1E88E5;
        --color-700: #1976D2;
        --color-800: #1565C0;
        --color-900: #0D47A1;
        --color-A100: #82B1FF;
        --color-A200: #448AFF;
        --color-A400: #2979FF;
        --color-A700: #2962FF;
    }

/* Buttons -----------------------------------------------------*/
    
    :root {
      --button-font-family: inherit;
      --button-font-size: inherit;
      /*--button-font-weight: var(--bold-font-weight, bold);*/
      --button-line-height: 1.125rem;
      --button-padding-y: .5rem;
      --button-padding-x: 1rem;
    }

    .btn {
        font-family:inherit;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        margin-bottom: 4px;
        border: 1px solid transparent;
        vertical-align: middle;
        -webkit-appearance: none;
        border-radius: 5px;
        box-sizing: border-box;
        outline: 0;
        border: 0;
    }

    .btn-dark {
        padding: 4px 18px;
        color: #FFFFFF;
        background-color: var(--color-500);
    }

    .btn:-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    .btn-dark:hover {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }

    .btn-dark:focus {
        background: rgb(25, 118, 210, .12);
    }

    .btn-dark:active {
        background-color: var(--color-700);
    }

/* Page Container ----------------------------------------------*/
    .page-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background-color: #F4F4F4;
    }

    .page-container > div {
        margin: 0;
    }

/* Grouping Top Bar---------------------------------------------*/

    .ge-top-container {
        background-color: #F4F4F4;
        color: #000000;
        width: 100%;
        padding: 1.5rem;
        font-weight: 600;
        font-size: 20px;
        clear: both;
        overflow: hidden;
        flex-basis: 1;
        flex-shrink: 0;
        flex-grow: 0;
    }

/* Grouping Editor Content Wrapper------------------------------*/

    .ge-middle-wrapper {
        font-size: 1rem;
        display: block;
        width: 100%;
        clear: both;
        float: left;
        height: 100%;
        overflow: auto;
        flex-basis: 1;
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        padding-bottom: 8rem;
    }

    .ge-middle-wrapper > div {
        display: block;
    }

/* Grouping Editor Toolbar (left side)--------------------------*/

    .ge-toolbar {
        background-color: #F4F4F4;
        height: 100%;
        box-sizing: border-box;
        float: left;
        width: 300px;
        overflow: scroll;
        flex-basis: 300px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .ge-toolbar > div {
        margin-left: 10px;
    }

/* Group Editor Workspace (right side)--------------------------*/

    .ge-workspace-container {
        height: 100%;
        float: left;
        box-sizing: border-box;
        background-color: white;
        overflow: scroll;
        font-size: 14px;
        background-color: #FFFFFF;
        display: block;
    }

    div.grouping {
        background-color: #FFFFFF;
        float: left;
        box-sizing: border-box;
    }

    div.group {
        box-sizing: border-box;
        display: inline;
        float: left;
        padding: .5rem;
        margin: 1rem;
        margin-right: 26px;
        background-color: #FAFAFA;
        border: .5px solid #000000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    div.group-member {
        padding: .5rem;
        background-color: #FFFFFF;
        border-style: solid;
        border-width: .5px;
        border-color: #000000;
        margin: .5rem .5rem 0 .5rem;
        flex-basis: content;
    }

    .group-member:last-child {
        margin-bottom: .5rem;
    }


    /*----Grouping Editor Buttons----*/

        .ge-name-container {
            margin: 10px;
            border: 1px solid #666666;
            background-color: white;
            width: 90%;
            border-radius: 5px;
        }

        .ge-name {
            padding: .4rem;
            border: 1px solid transparent;
            width: 100%;
        }

        .ge-name input {
            padding: .2rem;
            font-size: 16px;
            font-weight: 600;
            color: #000000;
        }

        .bm-border {
            border-bottom: 1px dashed #1991D0;
        }

        .ge-about {
            padding: .4rem;
            border: 1px solid transparent;
            width: 100%;
        }

        .ge-about input {
            padding: .2rem;
            font-size: 12px;
            color: #000000;
            /*Maybe switch to a dark gray*/
        }

        .ge-input {
            border-width: 0;
            background: transparent;
            border: 0;
            outline: 0;
            padding: 0;
            width: 100%;
        }

        .ge-input:focus {
            background-color: #F2F2F2;
        }


        /*-----Date Container-----*/

        .ge-date-container {
            margin: 10px 10px 10px 0;
            border: 1px solid #666666;
            background-color: white;
            width: 90%;
            border-radius: 5px;
            position: relative;
            padding: 5px;
        }

        .icon-input {
            display: inline;
            left: 5px;
            top: 3px;
        }

        .cal-input {
            display: inline;
            box-sizing: border-box;
            margin-left: 0px;
            font-size: 12px;
            border-width: 0;
            background: transparent;
            border: 0;
            outline: 0;
            padding: 0;
            width: 90%;
        }

        .cal-input:focus {
            background-color: #F2F2F2;
        }


        /*-----Rearrange Instructions----*/

        .tool-section {
            font-size: 12px;
            color: #000000;
            margin-top: 16px;
            margin-bottom: 12px;
        }

        .tool-header {
            font-weight: bold;
            color: #000000;
            line-height: 16px;
            margin-bottom: 4px;
        }

        .tool-text {
            font-weight: 400px;
            color: #666666;
            line-height: 18px;
        }


        /* Publish Date------------------*/

        .toggle-btn-wrapper {
            border: 1px solid #666666;
            border-radius: 5px;
            background-color: #999999;
            margin-right: 20px;
        }

        .toggle-btn {
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: .1px;
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            line-height: 16px;
            padding: .2rem .4rem;
            margin: 0;
            height: auto;
            border: 0px solid transparent;
            border-radius: 5px;
            vertical-align: middle;
            -webkit-appearance: none;
            color: #FFFFFF;
            background-color: #999999;
            width: 50%;
        }

        .toggle-btn-active {
            color: #000000;
            background-color: #FFFFFF;
            font-weight: 400;
        }

        .toggle-btn:hover {
            outline: none;
            text-decoration: none;
            box-shadow: inset 0 0 0 20rem rgba(255, 255, 255, .125);
        }

        .toggle-btn:focus {
            outline: none;
            /*box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, .075);*/
        }


        .toggle-btn:disabled,
            .toggle-btn.is-disabled {
              opacity: .5;
        }

/*------Group Editor Submit/Publish Buttons----*/

    .ge-bottom-container {
        font-size: 1rem;
        border-top: 2px solid #1991D0;
        background-color: #F4F4F4;
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        bottom: 0px;
        height: 3rem;
        padding: .5rem;
        margin: 0;
    }

    .ge-bottom-container > div {
        display: inline-block;
        float: right;
        padding-left:.5rem;
    }


