*{box-sizing: border-box;}

a{text-decoration: none;}

html, body, div, p, form, fieldset, legend,
label, button, input, select, textarea,
h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  font-family:'lato', sans-serif;
  color: #383d48;
  margin: 0;
  padding: 0;}

body {
  background: #5B7281;
  font-size: 80%;}

input{
	background-color:#F8F9FA;}
	/*#DFEAF3*/

.span_600{
	width:600px;
	margin-left: 200px;}


.flex_center {
	display: flex;
  	justify-content: center;}

.groupCreater_container{
	color: red;
	margin: 20px 20px 0 20px;
  	border: 2px solid #000000;
      box-shadow: 0 3px 9px rgba(0,0,0,0.5);}

.groupCreater_navbar_container {
	background: white;
  	/*padding: 10px 10px 0 10px;*/
  	width: 100%;}


.groupCreater_option_btn {
 	  background: #DFEAF3; /*gray background #DCDCDC*/
  	color: #000;
  	padding: 30px 30px 20px 30px;
  	width:25%;
	 display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align:center;
  	font-size:13px;
  	font-family:'lato', sans-serif;
  	font-weight: 300;}

.selected_btn{
	background-color: white;
	font-weight: 500px;
}

.groupCreater_input_display{
	background: white;
	padding: 30px 40px 20px 40px;
  	width:100%;}


/*------- Input Text Boxes---------*/
.group { 
	width:inherit;
	position:relative;
	margin-bottom: 23px;}

.inputMaterial        {
  font-size:14px;
  padding:10px;
  display:block;
  border:1px solid #A8ABAC;
  border-radius: 1px;
  width:100%;
}

label{
  color:#333333;
  font-weight: 200px; 
  font-size:13px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:10px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;}


/*.inputMaterial:focus    { border: 1px solid black;} need to figure htis out it is applying ::selection rule below instead*/


/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label    {
  top:-18px;
  font-size:12px;
  color: #555555;
  font-weight: 400px; }




/*----Name of Group & Group Sizing Inpus SAME style for all tabs----*/

#maxGroupNumber,#groupSize{
	width:45%;}


.groupSize_Options p {
	width: 40%;}


a {
	font-weight: 400px;
	font-color:#3784D3;}

.groupSize_options{
	display: inline;}

.generateGroups_btn {
	width:100%;
    border: 1px solid #FFCE0C;
    border-radius: 3px;
    background-color: #FFCE0C;
    color: #000000;
    width: 100%;
    padding: 10px 8px 10px 8px;
    font-weight: 600;}


/*----TAB: Randon---*/

.advSettingTitle{
	margin: 8px;}

input[type="checkbox"]{
margin: 8px 8px 8px 30px;}


/*------TAB: Topic------*/

#topicPrompt{
	margin-bottom:0px;
}
.topicPromptOptions_Container{
	display:flex;
	flex-direction:column;
	margin:2px 0 30px 0;
	padding:10px 15px 15px 15px;
	background-color: #f8f9fa;
}

.topicOption{
	margin-bottom: 15px;
	padding:6px;
	font-size: 13px;
	background-color: #FFFFFF;
  	border:1px solid #A8ABAC;
  	color:#333333;
}

input[placeholder="Topic #1"]{
	order: 1;}

input[placeholder="Topic #2"]{
	order: 2;}

button.addTopic {
	margin-left: 70%;
	border: 2px solid #5B7281;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #3784D3;
    padding: 10px 8px 10px 8px;
    font-weight: 400;
	order:3;}


/*------JUNK-------*/
/*.shell{

    background-color: #DC143C;
    overflow-y:auto;
	
	width: 90%;
	height: 100%;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	top:76.8px;
	position:relative;}*/

    /*padding-left: 20%;background page will be z-index 1, this will need to switch z-index 2*/

	/*.group_creater_container{
	    position: relative;
	    width:90%;
	    height:100%;
	    padding: 15px;
	    overflow: hidden;
	    background-color: orange;
	    line-height: 1.5;}

		.group_picker_container{
			padding:15px;
			background-color:purple;}

			.group_creater_navbar_container{
				padding: 10px;}

			.group_picker_btn{
				display:inline-block;
				width:20%;
				margin: 5px;}

			li.group_picker_btn div{text-align: middle; vertical-align: middle;}*/

/*	.tabs
	.group_picker_container
		.group_picker
			.group_picker_btn*/




/*


.content {
    position: relative;
    background-color: #fff;
    font-family: "Source Sans Pro",source-sans-pro,Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
    color: #303233;
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
}

.group_creater_container{
    position: relative;
    padding: 10px calc(1.5 * 10px) 0;
    overflow: hidden;
    line-height: 1.5;}

-------TABS FROM POLL SITE
            .magic_bar .tabs .tab.tab--selected {
                color: #255073;
                font-weight: bold;
                background-color: #fff;
                box-shadow: none;}

            .magic_bar .tabs .tab:hover {
                cursor: pointer;}

            .magic_bar .tabs .tab:first-child {
                box-shadow: inset -2px -4px 6px -3px rgba(0,0,0,0.5);}

            .magic_bar .tabs .tab {
                padding: 1.5em;
                float: left;
                width: 10em;
                text-align: center;
                background-color: #ededed;
                box-shadow: inset 2px -4px 6px -3px rgba(0,0,0,0.5);}*/