/*font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;*/

/** {border: 1px solid red !important;}*/
/** {
  border: 1px solid red !important;
}*/

/*Junk*/
  /*Copied straight from edmodo
  #facebox {
      position: absolute;
      z-index: 104;
      text-align: left;
      box-shadow: 0 1px 5px rgba(51,57,60,.45);
      background-color: #fff;
  }

  .border2 {border-radius: 2px;}

  #facebox .body>div.content {
      min-width: 300px;
      border-radius: 0 0 2px 2px;
  }*/

*{box-sizing: border-box;}

a{text-decoration: none;}

html, body, div, p, form, fieldset, legend,
label, button, input, select, textarea,
h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  font-family:'lato', sans-serif;
  color: #383d48;
  margin: 0;
  padding: 0;}

li,ol,ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;}

#class_invite_main_container {
  width: 784px;
  overflow: hidden;
  background-color: #effbf7;
  /*Light gray blue background: #eef2f6; light gray: 25ae90 good with greener*/
  color: #FFFFFF;}

.class_invite_header {
  background-color: #18A393;}
  /*BlueBlue:background-color: #276bb0; teal: #18A393; greener #25ae90;*/

#class_invite_main_container .class_invite_header h1 {
  font-weight: 300;
  padding: 4%;
  text-align: center;
  font-size: 18pt;
  color: #FFFFFF;}

#class_invite_main_container .left_column {
  width: 35%;
  display: block !important;
  text-align: left;
  float:left;}

#class_invite_main_container .right_column {
  width: 65%;
  background: #FFFFFF;
  min-height: 450px;
  position:relative;
  float:left;}


#class_invite_main_container .sidebar_main_container ul.invite_options_list {
  margin-top: 33%;}


#class_invite_main_container .sidebar_main_container ul.invite_options_list li {
  cursor: pointer;
  padding: 18px 0 14px 8%;
  font-size: 10pt;
  letter-spacing: 0.1px;
  list-style: none;
  line-height: 25px;}

#class_invite_main_container .sidebar_main_container ul.invite_options_list li a {
  color: #000000; /*color: #5b6069;*/
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin-left: 5%;
  text-decoration: none;}


span, svg {
  vertical-align: middle;
  padding-right:3px;}

span{padding-left: 5px}

#class_invite_main_container .sidebar_main_container ul.invite_options_list li.active {
  background: #FFFFFF; }
  #class_invite_main_container .sidebar_main_container ul.invite_options_list li.active a {
    color: #4c505a;
    font-weight: bold; }
  #class_invite_main_container .sidebar_main_container ul.invite_options_list li.active {
    cursor: default; }

